.projectsBlockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6.5rem;
  justify-content: center;
  padding: 0rem 1rem 2rem 1rem;
  text-align: center;
}

.headingText {
  text-decoration: underline;
  padding: 3em 1em 0.5em 1em;
  text-align: center;
  display: block;
}
