.headerOptionsListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.2em;
}
.headerOptionsContactLink {
  cursor: pointer;
}

.headerOptionsContactLink:hover {
  color: aqua;
}
.wavingHand {
  height: 1.8em;
}
